@-webkit-keyframes background {
	from {
		background-position: top left;
	}
	to {
		background-position: bottom right;
	}
}
@-webkit-keyframes buttonPulse {
	from {
		-webkit-box-shadow: 0 2px 10px #CCC;
	}
	to {
		-webkit-box-shadow: 0 2px 10px #0088CC;
	}
}


body {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial sans-serif;
	font-size: 30px;
	text-align: center;
	color: #333;
	text-shadow: 0px 2px 2px #FFF;
	background: #EEEEEE no-repeat fixed;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	-webkit-animation: background 600s linear infinite alternate;
	-webkit-transition: background-position 1s linear;
}
label, input, input[type='text'], input[type='email'], button, select, textarea {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial sans-serif;
	font-size: 30px;
	line-height: 40px;
	color: #333;
}
input[type='text'], input[type='email'] {
	height: auto !important;
	padding: 6px 9px;
	width:980px;
}
input[type='radio'] {
	display: none;
}
textarea {
	width:970px;
	height:450px;
	background: rgba(255,255,255,0.4);
}
.label-box {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	background: rgba(255,255,255,0.4);
	border-radius: 6px;
}
.label-box img {
	margin: 10px;
	opacity: 0.7;
	-webkit-transition: opacity 600ms ease;
}
.label-box:hover {
	background: rgba(255,255,255,0.8);
}
.label-box:hover img {
	opacity: 1;
}
.label-box label {
	height: 300px;
	width: 160px;
	padding: 10px;
}
.selected {
	background: #FFF;
	-webkit-animation: buttonPulse 1s linear infinite alternate;
}
.selected img {
	opacity: 1;
}
h1 {
	font-size: 300%;
	line-height: 200%;
}
h2 {
	font-size: 150%;
	line-height: 200%;
}
h3 {
	font-size: 120%;
	line-height: 150%;
}
small {
	font-size: 50%;
	line-height: 50%;
}
div.screen {
	display: inline-block;
	width: 1024px;
	height: 768px;
	padding: 20px;
	overflow: hidden;
	text-align: left;
}
.button-area {
	margin-top: 25px;
}
.btn {
	padding: 11px 19px;
	font-size: 18px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.btn-primary {
	-webkit-animation: buttonPulse 1s linear infinite alternate;
}
.btn-large {
	padding: 22px 38px;
	font-size: 36px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 30px 20px;
}
.progress-meter {
	position: fixed;
	left: 20px;
	top: 10px;
}
.bullet {
	display: inline-block;
	font-size: 12px;
	line-height: 22px;
	color: #999999;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	margin: 6px;
	background: #E5E5E5;
	background-image: -webkit-linear-gradient(top, #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	border-radius: 11px;
	width: 22px;
	height: 22px;
	opacity: 0.8;
	-webkit-transition: opacity 1s ease;
}
.on {
	color: #FFFFFF;
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	background: #006DCC;
	background-image: -webkit-linear-gradient(top, #0088CC, #0044CC);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	opacity: 1;
}
